body{
    background: #FFFF00;
    font-family: Tahoma;
}

.header {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1000px;
    height:300px;
    border:2px solid #FF3300;
    background:#fff;
    border-radius: 10px;
    box-shadow: 3px 41px 193px -38px rgba(255,0,0,1);
}

.header img{
    width: 100%;
    height: 100%;
}

.menu {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:1000px;
    border:2px solid #FF3300;
    background:#D32329;
    border-radius: 10px;
    box-shadow: 3px 41px 193px -38px rgba(255,0,0,1);
}

.menu ul{
    overflow: hidden;
    margin-left: 50px;
}

.menu ul li{
    float: left;
    list-style: none;
    padding-left: 0;
    margin-left: 20px;
    font-size: 20px;
}

.menu a{
    text-decoration: none;
    color: #fff;
}

.menu a:hover{
    text-decoration: underline;
}

.pages { 
    margin-left:auto; 
    margin-right:auto; 
    width:1000px;
}

.content {
    width:960px;
    border:2px solid #FF3300;
    background:#fff;
    border-radius: 10px;
    box-shadow: 3px 41px 193px -38px rgba(255,0,0,1);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.content h1{
    color:#D32329;
    font-size: 28px;
}

.content .text{
    float: left;
    width: 600px;
    text-align: justify;
    margin-top: -20px;
}

.content .img{
    float:right;
    width: 300px;
    margin-left: 10px;
}

.products{
    margin-top: 20px;
    overflow: hidden;
}

.products .head{
    color:#D32329;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.products .img-pr{
    float:left;
    margin-right: 20px;
    width: 200px;
    margin-bottom: 30px;
}

.articles{
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #FF3300;
}

.articles .header-article{
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #D32329;
}

.articles .date-article{
    font-size: 12px;
}

.articles .text-article{
    text-align: justify;
}

.foto{
    margin-top:20px;
    padding-top:20px;
    border-top: 1px solid #D32329;
}

.foto .header-foto{
    font-size: 22px;
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #D32329;
}

.foto .item-foto img{
    width:100%;
}

.footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:980px;
    height:50px;
    border:2px solid #FF3300;
    background:#D32329;
    border-radius: 10px;
    box-shadow: 3px 41px 193px -38px rgba(255,0,0,1);
    padding: 10px;
}

.footer .copy{
    font-size: 16px;
    color:#fff;
}

.clear{
    clear: both;
}